<!DOCTYPE html>
<html lang="en">
<head>

    <!-- --- Imports --- -->
    <!--jQuery-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Plot.ly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- --- Our own code --- -->
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <meta charset="UTF-8">
    <title>BrainDecoder</title>
</head>
<body>
<div class="jumbotron">
    <h1>MEANING@CLIC BrainDecoder</h1>
    <h3>Decode your brain in a single click!</h3>
</div>
<div id="main" class="container-fluid">
    <div class="navbar">
        <select id="runs" title="runs">
            <option value="m08-p18-p18" selected>Mitchell (2008), ridge voxel selection, ridge decoder</option>
            <option value="m08-simpl-p18">Mitchell (2008), simplified voxel selection, ridge decoder</option>
            <option value="m08-mlp-e10">Mitchell (2008), no voxel selection, MLP decoder (10 epochs)</option>
            <option value="m08-mlp-2hidden-relu-e10">Mitchell (2008), no voxel selection, MLP decoder (10 epochs + relu
                + hidden layer)</option>
            <option value="m08-mixp1+p9-simpl-p18">Mitchell (2008), mix P1 and P9, simplified voxel selection, ridge decoder</option>
            <option value="m08-mixall-simpl-mlp">Mitchell (2008), mix all participants, simplified voxel selection, MLP decoder</option>
            <option value="m08-mixall-simpl-mlp2">Mitchell (2008), mix all participants, simplified voxel selection, MLP decoder (10 epochs, ReLU, hidden)</option>
            <option value="m08-mixall-simpl-p18">Mitchell (2008), mix all participants, simplified voxel selection, ridge decoder</option>
            <option value="m08-aug6-p18">Mitchell (2008), add nearest neighbours (n=6), no voxel selection, ridge decoder</option>
            <option value="m08v25-simpl-p18">Mitchell (2008), 25-verbs vectors, simplified voxel selection, ridge decoder</option>
            <option value="p18a-simpl-p18">Pereira (2018), simplified voxel selection, ridge decoder</option>
            <option value="p18a-novoxsel-p18">Pereira (2018), no voxel selection, ridge decoder</option>
            <option value="p18a-novoxsel-p18-nocenter">Pereira (2018), no voxel selection, ridge decoder, no centering
            </option>
            <option value="p18a-novoxsel-p18-braincenter">Pereira (2018), no voxel selection, ridge decoder, brain
                centering
            </option>
            <option value="_p18_shuff">Pereira (2018), ridge voxel selection, MLP decoder</option>
            <option value="_simpl_no_shuff">Pereira (2018), simplified voxel selection, MLP decoder (no shuffling)</option>
            <option value="_simpl_shuff">Pereira (2018), simplified voxel selection, MLP decoder</option>
            <option value="p18a-var-p18">Pereira (2018), variability selection, ridge decoder</option>
            <option value="p18a-var-mlp">Pereira (2018), variability selection, MLP decoder</option>
            <option value="p18a-var300-p18">Pereira (2018), variability selection (cap=300), ridge decoder</option>
            <option value="p18a-var100-p18">Pereira (2018), variability selection (cap=100), ridge decoder</option>
            <option value="p18-noselection-mlp">Pereira (2018), no voxel selection, MLP decoder</option>
            <option value="_best_cnn_all">Pereira (2018), no voxel selection, CNN decoder</option>
            <option value="p18multi-mlp">Pereira (2018), mix all paradigms, MLP decoder</option>
            <option value="p18multi-mlp-e20">Pereira (2018), mix all paradigms, MLP decoder (20 epochs)</option>
            <option value="p18multi-ridge-novoxsel">Pereira (2018), mix all paradigms, ridge decoder (no voxel
                selection), center brain
            </option>
            <option value="p18multi-ridge-novoxsel-center">Pereira (2018), mix all paradigms, ridge decoder (no voxel
                selection), center all
            </option>
            <option value="p18multi-cnn">Pereira (2018), mix all paradigms, CNN decoder</option>
            <option value="p18-plsr-all">Pereira (2018), no voxel selection, PLSR decoder</option>
            <option value="p18-aug3-plsr-all">Pereira (2018), augmented data (+3), no voxel selection, PLSR decoder
            </option>
            <option value="p18-aug6-plsr">Pereira (2018), augmented data (+6), no voxel selection, PLSR decoder</option>
            <option value="p18a-aug-mlp">Pereira (2018), augmented data (+3), no voxel selection, MLP decoder</option>
            <option value="p18-aug6-mlp">Pereira (2018), augmented data (+6), no voxel selection, MLP decoder</option>
            <option value="p18-aug-p18">Pereira (2018), augmented data (+3), no voxel selection, ridge decoder</option>
            <option value="p18-aug6-p18">Pereira (2018), augmented data (+6), no voxel selection, ridge decoder</option>
            <option value="p18-aug3-cnn">Pereira (2018), augmented data (+3), no voxel selection, CNN decoder</option>
            <option value="p18-svr-m01">Pereira (2018), no voxel selection, SVR decoder</option>
            <option value="p18-mixm05+m15-simpl-p18-nomasking">Pereira (2018), simplified voxel selection, mix M05+M15, ridge decoder</option>
            <option value="p18-var-plsr-extra">Pereira (2018), variability selection, add exp2 data, PLSR decoder</option>
            <option value="p18-plsr-extra">Pereira (2018), no voxel selection, add exp2 data, PLSR decoder</option>
            <option value="p18-extra-p18">Pereira (2018), no voxel selection, add exp2 data, ridge decoder</option>
            <option value="p18-mlp-extra">Pereira (2018), no voxel selection, add exp2 data, MLP decoder</option>
            <option value="p18-extraexp3-p18">Pereira (2018), no voxel selection, add exp3 data, ridge decoder</option>
            <option value="p18-m02-allhacks">Pereira (2018), all hacks, ridge decoder</option>
            <option value="p18-random">Pereira (2018), random predictions</option>
            <option value="_best_cnn_m01rep">CNN - test for M01</option>
            <option value="p18-aug6-p18-m01rep">P18/aug6 - test for M01</option>
			<option value="cnn-alex-m01">Pre-trained CNN (AlexNet)</option>
        </select>
    </div>
    <div class="row">
        <div class="col">
            <h4>Pairwise scores</h4>
            <p>
                Out of all possible pairs, how often is the predicted vector of the target word closer to its own gold
                vector than to the gold vector of a distractor word?
            </p>
            <div id="pairwise"></div>
            <p><em id="pairwiseMean"></em></p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><h4>Confusion matrix</h4></div>
                <div class="col">
                    <form>
                        <label for="orders">Sort: </label>
                        <select id="orders" title="orders">
                            <option value="default">Alphabetic</option>
                            <option value="mistakes">Number of mistakes</option>
                        </select>
                    </form>
                </div>
            </div>
            <p>For how many participants does the model confuse a target word (x) with a given distractor word (y)?</p>
            <div id="confusion"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Cosine scores</h4>
            <p>How close, on average, is each predicted vector to its gold vector?</p>
            <div id="cosine"></div>
            <p><em id="cosineMean"></em></p>
        </div>
        <div class="col">
            <h4>Cosine scores by word</h4>
            <select title="word" id="cosine-word"></select>
            <div id="cosineByWord"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Rank scores</h4>
            <p>Pereira et al. (2018) rank score</p>
            <div id="rank"></div>
            <p><em id="rankMean"></em></p>
        </div>
        <div class="col">
            <h4>Rank scores by word</h4>
            <select title="word" id="rank-word"></select>
            <div id="rankByWord"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Nearest neighbour scores</h4>
            <p>How similar (measured using the Jaccard distance) are the nearest neighbours of each prediction and those
                of
                its gold vector?</p>
            <div id="neighbours"></div>
            <p><em id="neighboursMean"></em></p>
        </div>
        <div class="col">
            <h4>Nearest neighbours by word</h4>
            <p>Given a word, what are its nearest neighbours in target space and prediction space?</p>
            <select title="word" id="neighbours-word"></select>
            <select title="participant" id="neighbours-participant"></select>
            <div class="row">
                <div class="col">
                    <h6>Target space</h6>
                    <ol id="target-neighbours"></ol>
                </div>
                <div class="col">
                    <h6>Predicted space</h6>
                    <ol id="prediction-neighbours"></ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>R2 scores</h4>
            <p>How well does the decoder predict the values of each output dimension?</p>
            <div id="r2scores"></div>
            <p><em id="r2mean"></em></p>
        </div>
        <div class="col">
            <h4>P@10 scores</h4>
            <p>How often is the correct word label in the top-10 closest gold vectors?</p>
            <div id="patnscores"></div>
            <p><em id="patnmean"></em></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>RSA analysis (correlation)</h4>
            <div id="rsascore"></div>
            <p><em id="rsamean"></em></p>
        </div>
        <div class="col">
            <h4>RSA analysis (p-values)</h4>
            <div id="rsapval"></div>
            <p><em id="rsameanp"></em></p>
        </div>
    </div>
</div>
</body>
</html>